aiodns==3.0.0
aiofiles==0.6.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
APScheduler==3.7.0
arrow==1.1.0
async-timeout==3.0.1
attrs==21.2.0
baike==1.4.1
beautifulsoup4==4.9.3
bilibili-api==4.1.0
binaryornot==0.4.4
brotlipy==0.7.0
cachetools==4.2.2
cchardet==2.1.7
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cookiecutter==1.7.3
cssutils==2.3.0
fastapi==0.65.2
feedparser==6.0.2
fuzzywuzzy==0.18.0
greenlet==1.0.0
h11==0.12.0
httpcore==0.12.3
httptools==0.1.2
httpx==0.17.1
idna==2.10
imageio==2.9.0
jaraco.context==4.0.0
Jinja2==2.11.3
jinja2-time==0.2.0
langid==1.1.6
loguru==0.5.3
lxml==4.6.3
MarkupSafe==2.0.1
more-itertools==8.8.0
multidict==5.1.0
nb-cli==0.4.2
nonebot-adapter-cqhttp==2.0.0a13
nonebot-plugin-alias==0.1.4
nonebot-plugin-apscheduler==0.1.2
nonebot-plugin-manager==0.3.13
nonebot-plugin-test==0.2.0
nonebot-plugin-withdraw==0.1.3
nonebot2==2.0.0a13.post1
numpy==1.20.3
Pillow==8.2.0
PixivPy-Async==1.2.12
playwright==1.10.0
poyo==0.5.0
prompt-toolkit==1.0.14
pycares==4.0.0
pycparser==2.20
pydantic==1.8.2
pydub==0.25.1
pyee==8.1.0
pyfiglet==0.8.post1
Pygments==2.9.0
pygtrie==2.4.2
PyInquirer==1.0.3
python-dateutil==2.8.1
python-dotenv==0.17.1
python-engineio==3.14.2
python-Levenshtein==0.12.2
python-slugify==5.0.2
python-socketio==4.6.1
python-socks==1.2.4
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
rfc3986==1.5.0
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
starlette==0.13.6
tencentcloud-sdk-python==3.0.381
text-unidecode==1.3
tomlkit==0.7.2
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.5
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
wcwidth==0.2.5
websockets==8.1
wikipedia==1.4.0
wolframalpha==5.0.0
xmltodict==0.12.0
yarl==1.6.3
