[Unit]
Description=mirai
After=network-online.target
Wants=network-online.target

[Service]
User=wangqian
Group=users
WorkingDirectory=/home/wangqian/Mirai/mirai-console-loader
ExecStart=/home/wangqian/Mirai/mirai-console-loader/mcl
ExecStop=/bin/kill -9 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
