[Unit]
Description=nonebot
After=network-online.target
Wants=network-online.target

[Service]
User=wangqian
Group=users
WorkingDirectory=/home/wangqian/Mirai/mybot
ExecStart=/usr/bin/python /home/wangqian/Mirai/mybot/bot.py
ExecStop=/bin/kill -9 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target

